.fq-question.fq-inactive {
	display: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3 {
    text-align: center;
    color: #333;
    font-size: 26px;
    margin-bottom: 20px;
}

#flowquest_container {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.fq-question {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.fq-option {
    display: block;
    padding: 14px;
    margin: 12px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.fq-option:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.fq-option:active {
    background-color: #003d80;
}

.fq-active {
    display: block;
}

.fq-inactive {
    display: none;
}

#answer-result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.answer-title p {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.answer-description p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Responsividade */
@media (max-width: 1000px) {
    body {
        padding: 15px;
        height: auto;
    }

    #flowquest_container {
		margin: 40px 40px;
        padding: 40px;
        max-width: 100%;
    }

    h3 {
        font-size: 50px;
    }

    .fq-question {
        font-size: 40px;
    }

    a.fq-option {
        padding: 20px;
        font-size: 40px;
    }

    .answer-title p {
        font-size: 40px;
    }

    .answer-description p {
        font-size: 28px;
    }
}
