/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal do aplicativo */
#app-container {
    /* background-color: white; */
    background-image: url(./assets/fao_ufmg.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    backdrop-filter: blur(100%);

    width: 320px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

/* Estilo da mensagem de boas-vindas */


div.welcome-message {
    margin-top: 20px;
    background-color: #ffffff;
    border: 4px, solid, #ffc928;
    border-radius: 25px;
    padding: 5px;
    width: 80%;
    h1 {
        color: #ffc928;
        font-size: 2em;
        font-weight: bold;
        text-shadow: 2px 2px #977759;
    }    
}

/* Caixa de descrição */
#description-box {
    background-color: #977759;
    color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    padding-left: 30px;
    margin: 20px 0;
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
}

/* Links dentro da descrição */
#description-box a {
    font-weight: bold;
    color: #fede89;
    text-decoration: none;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-link {
    margin: 10px;
    background-color: #ffc928;
    border: none;
    border-radius: 25px;
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
    a {
        padding: 10px 20px;
        height: 100%;
        width: 100%;
        color: #977759;
        text-decoration: none;
        text-shadow: 1px 1px #eeeeee;
        box-sizing: border-box;
        display: inline-block;
    }
}
    
.home-link:hover {
    background-color: #e55c00;
}

/* Estilos do rodapé */
footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

footer p {
    align-self: center;
    font-size: 0.8em;
    color: #777;
}

#footer-logo {
    width: 160px;
    margin-top: 10px;
}
