/* Estiliza a página para que os elementos fiquem centralizados e bem distribuídos */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilo para o contêiner principal */
#content {
    text-align: center;
    margin-bottom: 20px;
}

/* Título da página */
h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #2c3e50;
}

/* Estilo para as opções */
#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.option {
    background-color: #ffc928;
    color: white;
    padding: 15px 25px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border-radius: 50px;
}

/* Efeito hover para as opções */
.option:hover {
    background-color: #efb918;
}

/* Tornar a página responsiva */
@media (max-width: 600px) {
    .option {
        font-size: 16px;
        padding: 12px 20px;
    }

    h2 {
        font-size: 20px;
    }
}

/* Estilo do botão "Voltar" com seta */
#backBtn {
    position: absolute;  /* Fixa o botão no topo da página */
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* Ícone da seta (usando Unicode) */
#backBtn::before {
    content: '←';  /* Seta Unicode para trás */
    margin-right: 8px;
    font-size: 24px;
}

/* Efeito de hover */
#backBtn:hover {
    color: #000;
}

/* Tornar o botão responsivo */
@media (max-width: 600px) {
    #backBtn {
        font-size: 20px;
        top: 5px;
        left: 5px;
    }
    #backBtn::before {
        font-size: 20px;
    }
}

/* Estilo para as imagens dinâmicas */
.dynamic-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Centraliza a imagem e adiciona espaçamento */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    .dynamic-image {
        width: 90%; /* Reduz o tamanho das imagens em telas menores */
    }
}



/* Responsividade para telas menores */
@media (max-width: 768px) {
    #definitions {
        flex-direction: column; /* Empilha os cards em telas menores */
        gap: 15px;
    }
    .definition {
        max-width: 100%; /* Garantir que os cards ocupem toda a largura disponível */
    }
}

#app-container {
    background-color: white;
    /* background-image: url(./assets/fao_ufmg.png); */
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    backdrop-filter: blur(100%);
    
    width: 320px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

footer p {
    align-self: center;
    font-size: 0.8em;
    color: #777;
}

#footer-logo {
    width: 160px;
    margin-top: 10px;
}

.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Estilo do contêiner das definições */
/* #definitions {
    display: flex;
    flex-wrap: wrap; /* Para permitir múltiplos cards lado a lado */
    /* justify-content: space-between; */
    /* gap: 20px; Espaçamento entre os cards */
    /* padding: 20px; */
/* } */ 

/* Estilo dos cards de definição */
.definition {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    transition: transform 0.2s, box-shadow 0.2s ease-in-out;
}

/* Efeito hover para realçar os cards */
.definition:hover {
    transform: translateY(-5px); /* Eleva o card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}

/* Estilo para o título dos cards */
.definition h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para o parágrafo */
.definition p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

button#showDefinitions {
    /* display: flex; */
    align-self: flex-end;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eeeeee;
    color: #333;
    cursor: pointer;
}